@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes revolve {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animate-revolve {
    animation: revolve 1s linear infinite;
  }
  